asyncio
aiofiles
aiohttp
aioshutil
aioqbt
anytree==2.8.0
apscheduler
aioaria2
aioqbt
git+https://github.com/NBBotz/IMDBKit
beautifulsoup4
cloudscraper
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
langcodes
jinja2
lxml
language_data
natsort
par2cmdline-turbo
pillow
psutil
pycountry
pymongo 
pyrofork==2.2.11
pytgcrypto
python-dotenv
python-magic
pytz
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
urllib3
uvicorn
uvloop==0.21.0
xattr
yt-dlp[default,curl-cffi]
